<nav class="sidebar" *transloco="let t">
    <div class="header">
        <a class="logo" routerLink="/meetings" (click)="byClick.emit()">Evendemy</a>
        <fa-icon class="burger-menu" [icon]="'angle-left'" (click)="byClick.emit()"></fa-icon>
    </div>
    <a class="menu-link" routerLink="/meetings" routerLinkActive="active" (click)="byClick.emit()">{{t("T:MEETINGS")}}</a>
    <a class="menu-link" routerLink="/ideas" routerLinkActive="active" (click)="byClick.emit()">{{t("T:IDEAS")}}</a>
    <a class="menu-link" routerLink="/users" routerLinkActive="active" (click)="byClick.emit()">{{t("T:USERS")}}</a>
</nav>
