@import './../../../variables';

.thumbnail{
  margin: 5px;
  width: 180px;
  height: 250px;
  padding:10px;
}

.thumbnail-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

h3{
  padding-top: 5px;
}

.user-more-button{
  margin-top: 20px;
}
