@import "variables";

body {
  background-color: $evendemy-background !important;
}

.evendemy-badge {
  background-color: white;
  margin: 5px;
  border-radius: 20px;
  color: $evendemy-primary;
  padding: 0px 10px 0px 10px;
}

.component-content {
  padding: 0px 10px 10px 10px;
}
.tool-bar {
  padding: 5px 15px 10px 0px;
  margin-bottom: 5px;
  background-color: #dddddd;
}
.tool-bar > * {
  display: inline-block;
}
.form-row {
  padding: 10px;
}
.form-row:nth-child(even) {
  background-color: #dddddd;
}
.form-row:nth-child(odd) {
  background-color: #f1f1f1;
}

%form-table-basis {
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}
.form-table {
  border-color: #dddddd;
  @extend %form-table-basis;
}

.form-table-white-border {
  border-color: white;
  @extend %form-table-basis;
}

.medium-table {
  width: 40%;
}

@media (max-width: 550px) {
  .medium-table {
    width: 100%;
  }
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 7px;
}

.meeting-tag{
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: $evendemy-primary;
  color: $evendemy-primary;
  padding: 0px 10px 0px 10px;
}
