@import './../../../variables';

.thumbnail {
  margin: 5px;
  width: 180px;
  height: 200px;
  padding: 10px;
}

.thumbnail-container {
  text-align: center;
}

.attendee-additional-badge {
  border-radius: 50%;
  background-color: #dddddd;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: black;
  position: absolute;
  right: 22px;
  bottom: -5px;
}

h3 {
  padding-top: 5px;
}

.meeting-tag{
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: $evendemy-primary;
  color: $evendemy-primary;
  padding: 0px 10px 0px 10px;
}

/* TOOLTIP */
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  width: fit-content;
  max-width: 110px;
}

.tooltip > .right{
  top: -5px;
  left: 100%;
  margin-left: 15px;
}

.tooltip > .right::after{
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
