<div class="thumbnail" [ngClass]="{'thumbnail-small': small}" *transloco="let t">
  <div class="caption text-center thumbnail-container">
    <div>
      <div style="position:relative;">
        <div *ngIf="showRemoveButton" class="remove-button">
          <i class="fa fa-close fa-lg" (click)="onRemoveAttendee()"></i>
        </div>
        <evendemy-user-image [username]="username" width="100" height="100" routerLink="/user-info/{{username}}"></evendemy-user-image>
        <div class="attendee-additional-badge" *ngIf="additionalAttendee">
          <div class="evendemy-tooltip">+1
            <span class="evendemy-tooltip-text right attendee-additional-badge-label">{{additionalAttendee}}</span>
          </div>
        </div>
      </div>
      <h3 class="meeting-title">{{firstname}} {{lastname}}</h3>
      <span class="meeting-tag" *ngIf="tookPart">{{t('T:CONFIRMED')}}</span>
    </div>

    <button class="btn btn-info" (click)="onClickTakePartButton()" *ngIf="showTakePartButton" [disabled]="disableTakePartButton">
      <span class="glyphicon glyphicon-ok" aria-hidden="true" style="padding-right: 5px;"></span>
      {{t('T:HAS_TAKEN_PART')}}
    </button>
  </div>
</div>


