@import './../../../variables';

.thumbnail {
  margin: 5px;
  width: 180px;
  height: 240px;
  padding: 10px;
}

.thumbnail-small {
  height: 210px;
}

.thumbnail-container {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.attendee-additional-badge {
  border-radius: 50%;
  background-color: #dddddd;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: black;
  position: absolute;
  right: 22px;
  bottom: -5px;
}

h3 {
  padding-top: 5px;
}

.remove-button{
  text-align: right;

  i {
    padding: 4px;
  }

  i:hover {
    border-radius: 50%;
    background-color: #dedede;
  }
}
