<evendemy-menu></evendemy-menu>
<div class="component-content meeting-user-info">

  <div class="user-info-row" style="text-align: center; margin: 50px;">
    <div class="img-tools">
      <evendemy-user-image width="200" height="200" [username]="username"></evendemy-user-image>
      <div class="edit-buttons" *ngIf="editable">
        <i class="fa fa-pencil fa-lg" data-toggle="modal" data-target="#evendemy-image-upload-dialog"></i>
        <i class="fa fa-trash fa-lg" data-toggle="modal" data-target="#deleteImageDialog"></i>
      </div>
    </div>

    <p class="meeting-user-fullname">{{user?.firstname}} {{user?.lastname}}</p>
    <p>
      <i class="fa fa-envelope-o fa-lg"></i> {{user?.email}},
      <i class="fa fa-address-card-o fa-lg"></i> {{user?.username}}</p>
  </div>

  <div class="user-info-row" *ngIf="user?.options && editable">
    <h3 style="padding-top:20px;">Settings</h3>

    <div>
      <div class="pretty p-switch p-fill p-primary">
        <input type="checkbox" (change)="onUpdateSettings()" [(ngModel)]="user.options.additional_info_visible" />
        <div class="state">
          <label>Additional Information visible</label>
        </div>
      </div>
    </div>

    <div>
      <div class="pretty p-switch p-fill p-primary">
        <input type="checkbox" (change)="onUpdateSettings()" [(ngModel)]="user.options.summary_of_meetings_visible" />
        <div class="state">
          <label>Created and Attended Meetings visible</label>
        </div>
      </div>
    </div>

  </div>

  <div class="user-info-row" *ngIf="user.additional_info">
    <!-- <form #form="ngForm" name="form"> -->
    <h3 style="margin-top:20px;">Additional Information</h3>
    <div class="row form-row">
      <div class="col-md-1">Job Title</div>
      <div class="col-md-4">
        <input type="text" class="form-control" *ngIf="editable" [(ngModel)]="user.additional_info.job_title"
          name="jobTitle" />
        <div *ngIf="!editable">{{user.additional_info.job_title}}</div>
      </div>
    </div>

    <div class="row form-row">
      <div class="col-md-1">Facebook</div>
      <div class="col-md-4">
        <input type="text" class="form-control" *ngIf="editable" [(ngModel)]="user.additional_info.facebook_username"
          name="facebook_username" />
        <div *ngIf="!editable">{{user.additional_info.facebook_username}}</div>
      </div>
    </div>

    <div class="row form-row">
      <div class="col-md-1">Instagram</div>
      <div class="col-md-4">
        <input type="text" class="form-control" *ngIf="editable" [(ngModel)]="user.additional_info.instagram_username"
          name="instagram_username" />
        <div *ngIf="!editable">{{user.additional_info.instagram_username}}</div>
      </div>
    </div>

    <div class="row form-row">
      <div class="col-md-1">Twitter</div>
      <div class="col-md-4">
        <input type="text" class="form-control" *ngIf="editable" [(ngModel)]="user.additional_info.twitter_username"
          name="twitter_username" />
        <div *ngIf="!editable">{{user.additional_info.twitter_username}}</div>
      </div>
    </div>

    <div class="row form-row">
      <div class="col-md-1">Description</div>
      <div class="col-md-4">
        <evendemy-editor [value]="user.additional_info.description" [editable]="editable"></evendemy-editor>
      </div>
    </div>

    <div class="row form-row">
      <button *ngIf="editable" class="btn btn-info col-md-1" (click)="saveAdditionalInfo()">Save</button>
    </div>
    <!-- </form> -->
  </div>

  <div class="user-info-row no-summary-row" *ngIf="!editable && !user.options.additional_info_visible">
      <i class="fa fa-low-vision fa-2x no-summary-icon"></i>
      <p>The user decided to not show his/her additional information.</p>
    </div>

  <div class="user-info-row no-summary-row" *ngIf="!editable && !user.options.summary_of_meetings_visible">
    <i class="fa fa-low-vision fa-2x no-summary-icon"></i>
    <p>The user decided to not show his/her meetings as a summary.</p>
  </div>

  <div class="user-info-row" *ngIf="editable || user.options.summary_of_meetings_visible">
    <h3 style="padding-top:20px;">{{courses.length}} attended Courses</h3>
    <p *ngIf="courses.length==0">Nothing here at the moment...</p>
    <evendemy-meeting-list [meetings]="courses"></evendemy-meeting-list>
  </div>

  <div class="user-info-row" *ngIf="editable || user.options.summary_of_meetings_visible">
    <h3 style="padding-top:20px;">{{events.length}} attended Events</h3>
    <p *ngIf="events.length==0">Nothing here at the moment...</p>
    <evendemy-meeting-list [meetings]="events"></evendemy-meeting-list>
  </div>

  <div class="user-info-row" *ngIf="editable || user.options.summary_of_meetings_visible">
    <h3 style="padding-top:20px;">{{courses_from_author.length}} created Courses</h3>
    <p *ngIf="courses_from_author.length==0">Nothing here at the moment...</p>
    <evendemy-meeting-list [meetings]="courses_from_author"></evendemy-meeting-list>
  </div>

  <div class="user-info-row" *ngIf="editable || user.options.summary_of_meetings_visible">
    <h3 style="padding-top:20px;">{{events_from_author.length}} created Events</h3>
    <p *ngIf="events_from_author.length==0">Nothing here at the moment...</p>
    <evendemy-meeting-list [meetings]="events_from_author"></evendemy-meeting-list>
  </div>


  <evendemy-image-upload-dialog [forMeeting]='false' (data)="uploadImage($event)"></evendemy-image-upload-dialog>

  <evendemy-confirm-dialog title="Do you really want to delete your account image?" (onConfirm)="deleteImage()" dialog_id="deleteImageDialog">
    Are you surce that you want to delete your account image?
  </evendemy-confirm-dialog>

</div>
