<div class="dialog-content" *transloco="let t">
  <div>
      <h5 class="title">{{t("T:UPLOAD_IMAGE")}}</h5>
      <div>
          <div class="file-upload">
              <input id="custom-input" type="file" (change)="fileSelected($event)">
          </div>
          <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="ratio"
                format="jpeg"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
      </div>
      <div class="footer">
        <button type="button" class="btn btn-info" (click)="onConfirm()">{{t("T:APPLY")}}</button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">{{t("T:CANCEL")}}</button>
      </div>
  </div>
</div>
