<evendemy-menu>
</evendemy-menu>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form #form="ngForm" *ngIf="meeting != undefined" name="form" class="meeting-card">
      <div *ngIf="isEditable" class="row">
        <h3>Meeting Information</h3>
      </div>

      <!--Image-->
      <div class="row meeting-image" *ngIf="!tmpImgData?.image">
        <img src="{{imageFolder}}/{{meeting.mid}}.jpg?r={{randomizedNumber}}" onError="this.src='assets/no-image.png'" />
      </div>

      <div class="row meeting-image" *ngIf="tmpImgData?.image">
        <img [src]="tmpImgData.image">
      </div>

      <div style="text-align: right;">
        <button *ngIf="isEditable" class="btn btn-info meeting-image-button" data-toggle="modal" data-target="#evendemy-image-upload-dialog">change</button>
      </div>


      <!--Title-->
      <div class="row form-row" *ngIf="isEditable">
        <div class="col-md-4">Title</div>
        <div class="col-md-8">
          <input type="text" class="form-control" *ngIf="isEditable" [(ngModel)]="meeting.title" name="title" />
        </div>
      </div>

      <div class="row" *ngIf="!isEditable">
        <h1>{{meeting.title}}</h1>
      </div>

      <!--Description-->
      <div class="row form-row" *ngIf="isEditable">
        <div class="col-md-4">Description</div>
        <div class="col-md-8">
          <evendemy-editor [value]="meeting?.description" [editable]="isEditable"></evendemy-editor>
        </div>
      </div>
      <div class="row" *ngIf="!isEditable">
        <div class="col-md-12">
          <evendemy-editor [value]="meeting?.description" [editable]="isEditable"></evendemy-editor>
        </div>
      </div>

      <div *ngIf="!isEditable" class="row" style="margin-top: 50px;">
        <h3>More Information</h3>
      </div>

      <div class="row form-row">
        <div class="col-md-4">Short Description</div>
        <div class="col-md-8">
          <input type="text" class="form-control" *ngIf="isEditable" [(ngModel)]="meeting.shortDescription" name="shortDescription"
          />
          <div *ngIf="!isEditable">{{meeting.shortDescription}}</div>
        </div>
      </div>

      <div class="row form-row">
        <div class="col-md-4">Tags</div>
        <div class="col-md-8">
          <tag-input [(ngModel)]="meeting.tags" name="tag" [hideForm]="!isEditable" [removable]="isEditable" [modelAsStrings]="true"></tag-input>
        </div>
      </div>


      <div class="row form-row">
        <div class="col-md-4">Date</div>
        <div *ngIf="isEditable" class="col-md-8">
          <input type="text" id="date" class="form-control" pattern="(0?[1-9]|[12][0-9]|3[01]).(0?[1-9]|1[012]).(19|20)\d\d" name="date"
            [(ngModel)]="inputDate" placeholder="dd.MM.yyyy" #date="ngModel">
          <div *ngIf="date.errors && (date.dirty || date.touched)" class="alert alert-danger">
            <div [hidden]="!date.errors.pattern">
              <i class="fa fa-close fa-lg"></i> Date has to be a valid date: dd.MM.yyyy. For example 24.12.2020
            </div>
          </div>
          <div *ngIf="!inputDate" class="alert alert-warning">
            <i class="fa fa-info-circle fa-lg"></i> Without a date participants will not receive a calendar invitation. You can't confirm any participant.
          </div>
        </div>
        <div *ngIf="!isEditable" class="col-md-8">
          {{meeting.date | date:'dd.MM.yyyy'}}
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-4">From</div>
        <div *ngIf="isEditable" class="col-md-8">
          <input type="text" id="startTime" class="form-control" pattern="(0?[0-9]|[1][0-9]|2[0-4]):([0-4][0-9]|5[0-9])" name="startTime"
            [(ngModel)]="meeting.startTime" placeholder="hh:mm" #startTime="ngModel">
          <div *ngIf="startTime.errors && (startTime.dirty || startTime.touched)" class="alert alert-danger">
            <div [hidden]="!startTime.errors.pattern">
              <i class="fa fa-close fa-lg"></i> Time has to be like HH:MM. For example 12:00
            </div>
          </div>
          <div *ngIf="!meeting.startTime" class="alert alert-warning">
            <i class="fa fa-info-circle fa-lg"></i> Without a start time participants will not receive a calendar invitation. You can't confirm any participant.
          </div>
        </div>
        <div *ngIf="!isEditable" class="col-md-8">
          {{meeting.startTime}}
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-4">To</div>
        <div *ngIf="isEditable" class="col-md-8">
          <input type="text" id="endTime" class="form-control" pattern="(0?[0-9]|[1][0-9]|2[0-4]):([0-4][0-9]|5[0-9])" name="endTime"
            [(ngModel)]="meeting.endTime" placeholder="hh:mm" #endTime="ngModel">
          <div *ngIf="endTime.errors && (endTime.dirty || endTime.touched)" class="alert alert-danger">
            <div [hidden]="!endTime.errors.pattern">
              <i class="fa fa-close fa-lg"></i> Time has to be like HH:MM. For example 12:00
            </div>
          </div>
          <div *ngIf="!meeting.endTime" class="alert alert-warning">
            <i class="fa fa-info-circle fa-lg"></i> Without an end time participants will not receive a calendar invitation. You can't confirm any participant.
          </div>
        </div>
        <div *ngIf="!isEditable" class="col-md-8">
          {{meeting.endTime}}
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-4">Location</div>
        <div class="col-md-8">
          <input type="text" class="form-control" *ngIf="isEditable" [(ngModel)]="meeting.location" name="location" />
          <div *ngIf="!isEditable">{{meeting.location}}</div>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-4">Cost Center</div>
        <div class="col-md-8">
          <input type="text" class="form-control" *ngIf="isEditable" [(ngModel)]="meeting.costCenter" name="costCenter" />
          <div *ngIf="!isEditable">{{meeting.costCenter}}</div>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-4">Is in freetime</div>
        <evendemy-checkbox class="meeting-checkbox" (checkboxChanged)="meeting.isFreetime = $event" [value]="meeting.isFreetime"
          [disabled]="!isEditable"></evendemy-checkbox>
      </div>
      <div class="row form-row">
        <div class="col-md-4">Are externals allowed</div>
        <evendemy-checkbox class="meeting-checkbox" (checkboxChanged)="checkboxChanged()" [value]="meeting.numberOfAllowedExternals>0"
          [disabled]="!isEditable"></evendemy-checkbox>
      </div>
      <div class="row form-row">
        <div class="col-md-4">Author</div>
        <div class="col-md-8">{{getUser(meeting.username) | name}}</div>
      </div>
      <div class="row form-row">
        <div class="col-md-4">Creation-Date</div>
        <div class="col-md-8">{{meeting.creationDate | date:'dd.MM.yyyy'}}</div>
      </div>

      <!--Attenees-List-->
      <div>
        <div class="row" style="margin-top: 50px;">
          <h3 class="col-md-7 meeting-header-label">{{numberOfParticipants()}} Participants</h3>
          <div class="col-md-5 meeting-header-actions">
            <a class="meeting-csv-link" *ngIf="isEditable" (click)="downloadCSV()">download csv</a>
            <a [ngClass]="{'not-active-link': listView}" (click)="listView = false"><i class="fa fa-th-large fa-lg"></i></a>
            <a [ngClass]="{'not-active-link': !listView}" (click)="listView = true"><i class="fa fa-list fa-lg"></i></a>
          </div>
        </div>
        <div class="row" *ngIf="!listView">
          <div style="display: flex; flex-wrap: wrap;">
            <div *ngFor="let attendee of potentialAttendees; trackBy: trackByFn">
              <evendemy-attendee-card [additionalAttendee]="attendee.externals[0]" [tookPart]="attendee.tookPart" [user]="getUser(attendee.username)"
                [showTakePartButton]="isEditable && !attendee.tookPart && meeting.date" [disableTakePartButton]="!isInThePastOrToday()" [small]="!isEditable"
                (tookPartClicked)="onHasTakenPart($event)">
              </evendemy-attendee-card>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="listView">
          <evendemy-attendee-table [attendees]="potentialAttendees" [users]="users" [editable]="isEditable" [disableTakePartButton]="!isInThePastOrToday()" (tookPartClicked)="onHasTakenPart($event)"></evendemy-attendee-table>
        </div>
      </div>

      <div class="meeting-tools" style="margin-top: 20px; text-align: center;">
        <button *ngIf="(isNew == false) && !userHasAccepted" class="btn btn-info" (click)="onAcceptMeeting()">
          <i class="fa fa-user fa-lg"></i> I want to participate
        </button>
        <button *ngIf="(isNew == false) && !userHasAccepted && meeting.numberOfAllowedExternals > 0" class="btn" data-toggle="modal"
          data-target="#externalDialog">
          <i class="fa fa-user-plus fa-lg"></i> I want to participate with a friend
        </button>
      </div>

      <div class="row meeting-info-box" *ngIf="(isNew == false) && userHasAccepted && !userHasFinished">
        <h4>Have a great time!</h4>
        <p>You registered for the event and can take part. Your host and you will get a mail. If something will change, you
          will be informed. Enjoy your meeting!</p>
        <div class="meeting-info-box-buttons">
          <button class="btn btn-danger" (click)="onRejectMeeting()">
            I cannot participate anymore
          </button>
          <button class="btn btn-info" (click)="onGetCalendar()" [disabled]="!hasValidDate()">
            <i class="fa fa-calendar fa-lg"></i> Calendar
          </button>
        </div>
      </div>

      <div class="row meeting-info-box" *ngIf="(isNew == false) && userHasFinished">
        <h4>Thank you for taking part!</h4>
        <p>You have been confirmed that you have participated.</p>
        <div class="meeting-info-box-buttons">
          <button class="btn btn-info" (click)="onGetCalendar()" [disabled]="!hasValidDate()">
            <i class="fa fa-calendar fa-lg"></i> Calendar
          </button>
        </div>
      </div>

      <div class="row" *ngIf="isInThePast()">
        <p class="col-md-12 meeting-participants-info" *ngIf="hasEveryoneTookPart()">
          <i class="fa fa-info-circle fa-lg"></i> {{getAttendedNumber()}} took part.
        </p>
        <p class="col-md-12 meeting-participants-info" *ngIf="!hasEveryoneTookPart()">
          <i class="fa fa-info-circle fa-lg"></i> {{getAttendedNumber()}} took part and {{getNotAttendedNumber()}} didn´t showed up.
        </p>
      </div>

      <!--COMMENTS-->
      <div class="row" style="margin-top: 50px;" *ngIf="!isNew">
        <h3>Comments</h3>
      </div>
      <evendemy-comments [comments]="meeting.comments" (addComment)="onAddComment($event)" [users]="users"></evendemy-comments>

      <!--Tools-->
      <div class="row meeting-tools" *ngIf="isEditable" style="padding-right: 0px; margin-top: 20px; text-align: right;">
        <!--EDITOR-MODE-->
        <button *ngIf="isEditable" class="btn btn-info" (click)="onSaveMeeting()" [disabled]="!form.form.valid">Save</button>
        <button *ngIf="!isNew && isEditable" class="btn" data-toggle="modal" data-target="#copyDialog">Copy</button>
        <button *ngIf="!isNew && isEditable" class="btn" data-toggle="modal" data-target="#confirmDialog">Delete</button>
      </div>

    </form>

    <evendemy-confirm-dialog title="Do you really want to delete?" (confirm)="onDeleteMeeting()" dialogID="confirmDialog">
      You can not revert this action. The attendees will be informed that the meeting will not take place.
      <br/>
      <br/> Do you really want to delete this meeting?
    </evendemy-confirm-dialog>

    <evendemy-confirm-dialog title="Do you really want to copy this meeting?" (confirm)="onCopyMeeting()" dialogID="copyDialog">
      With this action you will copy this meeting! You can edit things before saving. Your image will not be copied!
      <br/>
      <br/> Do you really want to copy this meeting?
    </evendemy-confirm-dialog>

    <evendemy-confirm-dialog title="Do you want to take some friend with you?" (confirm)="onAcceptMeeting(external.value)" dialogID="externalDialog">
      This meeting allows you to take some friend with you. If you want, please enter a name.
      <br/>
      <input type="text" class="form-control" #external style="margin-top:10px;" />
    </evendemy-confirm-dialog>

    <evendemy-image-upload-dialog (data)="setTemporaryImage($event)"></evendemy-image-upload-dialog>
  </div>
</div>
