@import './../../../variables';

.meeting-card{
  padding: 20px 0px;
}

.meeting-image > img {
  width: 100%;
}

.meeting-image-button{
  margin-top: -80px;
}

.meeting-csv-link{
  margin-top: 30px;
  padding-right: 0px;
  text-align: right;
  cursor: pointer;
}

.meeting-header-label{
  padding-left: 0px;
}

.meeting-info-box{
  background-color: #dddddd;
  border-radius: 5px;
  padding: 10px;

  .meeting-info-box-buttons{
    float: right;
    padding-top: 10px;
  }
}

.meeting-participants-info{
  text-align: center;
  padding-top: 10px;
  color: grey;
}

.meeting-tag{
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: $evendemy-primary;
  color: $evendemy-primary;
  padding: 0px 10px 0px 10px;
}

.meeting-tools{
  .btn{
    margin: 5px;
  }
}

.meeting-checkbox{
  margin-left: 15px;
}

.alert{
  margin-top: 5px;
  margin-bottom: 5px;
}
