.comment{
  white-space: pre-wrap;
}

.comment-row{
  padding: 5px;
}
.comment-row:nth-child(even){
  background-color:#dddddd;
}
.comment-row:nth-child(odd){
  background-color:#f1f1f1;
}

.meeting-image > img {
  width: 100%;
}

.meeting-image-button{
  margin-top: -80px;
}

.meeting-csv-link{
  margin-top: 30px;
  padding-right: 0px;
  text-align: right;
}

.meeting-header-label{
  padding-left: 0px;
}
