<div class="page">
  <div class="main" *transloco="let t">
    <evendemy-breadcrump [steps]="steps"></evendemy-breadcrump>
    <div class="content" *ngIf="meeting">
      <div class="meeting">
        <form #form="ngForm" [formGroup]="formGroup" name="form">
          <!--Image-->
          <div class="meeting-image">
            <img [src]="getImage()" *ngIf="!tmpImgData"/>
            <img [src]="tmpImgData" *ngIf="tmpImgData">
            <div class="image-overlay"></div>
            <button *ngIf="isEditable && editMode" class="btn btn-info meeting-image-button" 
              (click)="openDialog('image-upload')">{{t("T:CHANGE_IMAGE")}}</button>
            <div class="section section-header" [ngClass]="{'not-editable': !isEditable}">
                <evendemy-editable-text [editable]="editMode" class="title" [placeholder]="editMode ? t('T:MEETING_TITLE') : undefined"
                  formControlName="title" (click)="formControlClicked('title')"></evendemy-editable-text>
                <evendemy-editable-text [editable]="editMode" class="subtitle" 
                  [placeholder]="editMode ? t('T:MEETING_SUBTITLE') : undefined"
                  formControlName="shortDescription" 
                  (click)="formControlClicked('shortDescription')"
                  *ngIf="editMode || shortDescription?.value!==''"
                  ></evendemy-editable-text>
                <div class="created-by">
                  <evendemy-user-image [username]="meeting.username" [width]="25" [height]="25"></evendemy-user-image>
                  {{meeting.username}}
                </div>
              </div>
          </div>
          <div class="section section-context-menu" *ngIf="!editMode && isEditable">
            <fa-icon [icon]="'ellipsis'" (click)="contexMenuIsOpen = !contexMenuIsOpen"></fa-icon>
            <evendemy-context-menu *ngIf="contexMenuIsOpen && isEditable">
              <p (click)="closeContextMenu(); setEditMode(true)">{{t("T:EDIT")}}</p>
              <p (click)="closeContextMenu(); openDialog('confirmDialog')">{{t("T:DELETE")}}</p>
              <p (click)="closeContextMenu(); openDialog('copyDialog')">{{t("T:DUPLICATE")}}</p>
              <p (click)="closeContextMenu(); openDialog('copyToMeetingDialog')">{{t("T:CREATE_MEETING_FROM_IDEA")}}</p>
            </evendemy-context-menu>
          </div>

          <!--Tools-->
          <div class="section-edit-bar" [ngClass]="{'invalid':!form.form.valid}" *ngIf="editMode">
            <div class="message" *ngIf="!form.form.valid">
              <fa-icon icon="triangle-exclamation"></fa-icon>{{t("T:MEETING_FIELD_ERROR")}}
            </div>
            <div *ngIf="form.form.valid"></div>
            <div class="right">
              <button *ngIf="isEditable" class="btn btn-info" (click)="onSaveMeeting()"
                [disabled]="!form.form.valid">{{t("T:PUBLISH")}}</button>
              <button *ngIf="!isNew && isEditable" class="btn"  (click)="openDialog('cancelDialog')">{{t("T:CANCEL")}}</button>
            </div>
          </div>

          <div class="section section-place-time" [ngClass]="{'not-editable': !isEditable}">
            <div class="place">
              <fa-icon [icon]="'location-dot'"></fa-icon>
              <evendemy-editable-text [editable]="editMode" [placeholder]="editMode ? 'Ort' : undefined"
                formControlName="location" (click)="formControlClicked('location')"></evendemy-editable-text>
            </div>
            <div class="time">
              <fa-icon [icon]="'calendar'"></fa-icon>
              <evendemy-editable-text [editable]="editMode" class="date" [placeholder]="editMode ? 'dd.MM.yyyy' : undefined"
                formControlName="date" (click)="formControlClicked('date')"></evendemy-editable-text>
              <evendemy-editable-text [editable]="editMode" class="start-time" [placeholder]="editMode ? 'mm:hh' : undefined"
                formControlName="startTime" (click)="formControlClicked('startTime')"></evendemy-editable-text>
              {{t("T:MEETING_UNTIL")}}
              <evendemy-editable-text [editable]="editMode" class="end-time" [placeholder]="editMode ? 'mm:hh' : undefined"
                formControlName="endTime" (click)="formControlClicked('endTime')"></evendemy-editable-text>
            </div>
          </div>

          <div class="section section-description">
            <h4>{{t("T:MEETING_DETAILS")}}</h4>
            <evendemy-editable-input id="description" [editable]="editMode" [value]="description.value" [placeholder]="t('T:MEETING_DESCRIPTION')" (click)="formControlClicked('description')">
              <evendemy-editor [value]="meeting?.description" (change)="editorChanged($event)" [editable]="true" [focus]="focusEditor"></evendemy-editor>
            </evendemy-editable-input>
          </div>

          <div class="section section-more">
            <h4>{{t("T:MEETING_MORE_DETAILS")}}</h4>
            <div class="more-field" *ngIf="meeting.isIdea">
              <div>{{t("T:MEETING_VALIDITY_PERIODE")}}</div>
              <evendemy-editable-input [editable]="editMode" class="validityPeriode" [value]="formGroup.get('validityPeriode')?.value === '1_WEEK' ? t('T:1_WEEK') : t('T:2_WEEKS')" (click)="formControlClicked('validityPeriode')" [invalid]="validityPeriode.invalid">
                <select formControlName="validityPeriode" class="selectBox">
                  <option value="1_WEEK">{{t("T:1_WEEK")}}</option>
                  <option value="2_WEEKS">{{t("T:2_WEEKS")}}</option>
                </select>
              </evendemy-editable-input>
            </div>
            <div class="more-field">
              <div>{{t("T:MEETING_TYPE")}}</div>
              <evendemy-editable-input [editable]="editMode" class="courseOrEvent" [placeholder]="editMode ? t('T:MEETING_COURSE_OR_EVENT') : undefined" [value]="formGroup.get('courseOrEvent')?.value === 'course' ? t('T:COURSE') : t('T:EVENT')" (click)="formControlClicked('courseOrEvent')">
                <select formControlName="courseOrEvent" class="selectBox">
                  <option value="course">{{t("T:COURSE")}}</option>
                  <option value="event">{{t("T:EVENT")}}</option>
                </select>
              </evendemy-editable-input>
            </div>
            <div class="more-field">
              <div>Tags</div>
              <evendemy-editable-input [editable]="editMode" [placeholder]="'Tags'" [value]="formGroup?.get('tags')?.value" (click)="formControlClicked('tags')">
                <tag-input name="tag" formControlName="tags"
                [removable]="isEditable" [modelAsStrings]="true" (onSelect)="onTagSelect($event)"
                (onAdd)="onAddingTag($event)">
                <tag-input-dropdown [autocompleteItems]="allTags" [showDropdownIfEmpty]="true">
                </tag-input-dropdown>
              </tag-input>
              </evendemy-editable-input>
            </div>
            <div class="more-field">
              <div>{{t("T:MEETING_IN_FREETIME")}}</div>
              <evendemy-editable-input [editable]="editMode" class="isFreetime" 
              [placeholder]="editMode ? t('T:MEETING_IN_FREETIME_PLACEHOLDER') : undefined" 
              [value]="formGroup.get('isFreetime')?.value === true ? t('T:YES') : t('T:NO')"
              (click)="formControlClicked('isFreetime')">
                <select formControlName="isFreetime" class="selectBox">
                  <option [value]="true">{{t("T:YES")}}</option>
                  <option [value]="false">{{t("T:NO")}}</option>
                </select>
              </evendemy-editable-input>
            </div>
            <div class="more-field">
              <div>Kostenstelle</div>
              <evendemy-editable-text [editable]="editMode" class="costcenter" [placeholder]="editMode ? 'Kostenstelle' : undefined"
                formControlName="costCenter" (click)="formControlClicked('costCenter')"></evendemy-editable-text>
            </div>
            <div class="more-field">
              <div>{{t("T:EXTERNAL_ALLOWED")}}</div>
              <evendemy-editable-input 
                [editable]="editMode" class="externalsAreAllowed" 
                [value]="formGroup.get('numberOfAllowedExternals')?.value === '1' ? t('T:ALLOWED') : t('T:NOT_ALLOWED')"
                (click)="formControlClicked('numberOfAllowedExternals')">
                <select formControlName="numberOfAllowedExternals" class="selectBox">
                  <option value="1">{{t("T:ALLOWED")}}</option>
                  <option value="0">{{t("T:NOT_ALLOWED")}}</option>
                </select>
              </evendemy-editable-input>
            </div>
            <div class="more-field">
              <div>{{t("T:MEETING_CREATED_AT")}}</div>
              <div *ngIf="meeting?.creationDate" class="not-editbale-field">{{meeting.creationDate | date:'dd.MM.yyyy'}}</div>
            </div>
            <div class="more-field">
              <div>{{t("T:MEETING_LAST_UPDATE")}}</div>
              <div *ngIf="meeting?.lastUpdateDate" class="not-editbale-field">{{meeting.lastUpdateDate | date:'dd.MM.yyyy'}}</div>
            </div>
          </div>
        </form>

        <!--Attenees-List-->
        <div class="section section-attendee-list" *ngIf="!isNew">
          <div class="attendee-list-header">
            <h5>{{numberOfParticipants()}} {{t("T:ATTENDEES")}}</h5>
            <div class="attendee-actions">
              <a class="csv-link" *ngIf="isEditable" (click)="downloadCSV()">{{t("T:DOWNLOAD_CSV")}}</a>
              <a [ngClass]="{'not-active-link': listView}" (click)="listView = false"><i
                  class="fa fa-th-large fa-lg"></i></a>
              <a [ngClass]="{'not-active-link': !listView}" (click)="listView = true"><i
                  class="fa fa-list fa-lg"></i></a>
            </div>
          </div>
          <div *ngIf="!listView">
            <div class="attendee-cards">
                <evendemy-attendee-card 
                  *ngFor="let attendee of potentialAttendees; trackBy: attendee?.username"
                  [additionalAttendee]="attendee.externals[0]" 
                  [tookPart]="attendee.tookPart"
                  [username]="attendee.username"
                  [firstname]="attendee.firstname"
                  [lastname]="attendee.lastname"
                  [showTakePartButton]="isEditable && !attendee.tookPart && meeting.startTime && meeting.endTime && !meeting.isIdea"
                  [showRemoveButton]="isEditable && !attendee.tookPart"
                  [disableTakePartButton]="!isInThePastOrToday() || !hasValidDateAndTime()" [small]="!isEditable"
                  (tookPartClicked)="onHasTakenPart($event)" (removeAttendee)="onRemoveAttendee($event)">
                </evendemy-attendee-card>
            </div>
          </div>

          <div *ngIf="listView">
            <evendemy-attendee-table [showTakePartButton]="!meeting.isIdea" [attendees]="potentialAttendees"
              [editable]="editMode" [disableTakePartButton]="!isInThePastOrToday() || !hasValidDateAndTime()"
              (tookPartClicked)="onHasTakenPart($event)"></evendemy-attendee-table>
          </div>
        </div>

        <div class="section" *ngIf="!isNew && meeting.isIdea">
          <evendemy-idea-attendee-status [meeting]="meeting" [status]="getStatus()" (acceptMeeting)="onAcceptMeeting($event)"
            (rejectMeeting)="onRejectMeeting()" (calendar)="onGetCalendar()">
          </evendemy-idea-attendee-status>
        </div>

        <div class="section" *ngIf="!isNew && !meeting.isIdea">
          <evendemy-meeting-attendee-status [meeting]="meeting" [status]="getStatus()"
            (acceptMeeting)="onAcceptMeeting($event)" (rejectMeeting)="onRejectMeeting()" (calendar)="onGetCalendar()">
          </evendemy-meeting-attendee-status>
        </div>


        <div *ngIf="isInThePast()">
          <p class="meeting-participants-info" *ngIf="hasEveryoneTookPart()">
            <i class="fa fa-info-circle fa-lg"></i> {{t("T:MEETING_NUMBER_TOOK_PART", {attendedNumber: getAttendedNumber()})}}
          </p>
          <p class="meeting-participants-info" *ngIf="!hasEveryoneTookPart()">
            <i class="fa fa-info-circle fa-lg"></i> {{t("T:MEETING_NUMBER_TOOK_PART_BUT_DIDNT_SHOW_UP", {attendedNumber: getAttendedNumber(), notAttendedNumber: getNotAttendedNumber()})}}
          </p>
        </div>

        <!--COMMENTS-->
        <div class="section section-comments" *ngIf="!isNew">
          <h5 id="comments">{{t("T:COMMENTS")}}</h5>
          <evendemy-comments [comments]="meeting.comments" (addComment)="onAddComment($event)"></evendemy-comments>
        </div>

        <evendemy-dialog (confirm)="onCancel()"
        id="cancelDialog">
        <evendemy-confirm-dialog-content (byConfirm)="onCancel()" (byCancel)="closeDialog('cancelDialog')">
          <h4>{{t("T:MEETING_DIALOG_CANCEL_TITEL")}}</h4>
          {{t("T:MEETING_DIALOG_CANCEL_DESCRIPTION")}}
        </evendemy-confirm-dialog-content>
        </evendemy-dialog>

        <evendemy-dialog id="confirmDialog">
          <evendemy-confirm-dialog-content (byConfirm)="onDeleteMeeting()" (byCancel)="closeDialog('confirmDialog')">
            <h4>{{t("T:MEETING_DIALOG_DELETE_TITEL")}}</h4>
            {{t("T:MEETING_DIALOG_DELETE_DESCRIPTION")}}
          </evendemy-confirm-dialog-content>
        </evendemy-dialog>

        <evendemy-dialog id="copyDialog">
          <evendemy-confirm-dialog-content (byConfirm)="onCopy()" (byCancel)="closeDialog('copyDialog')">
            <h4>{{t("T:MEETING_DIALOG_COPY_TITEL")}}</h4>
            {{t("T:MEETING_DIALOG_COPY_DESCRIPTION")}}
          </evendemy-confirm-dialog-content>
        </evendemy-dialog>

        <evendemy-dialog id="copyToMeetingDialog">
          <evendemy-confirm-dialog-content (byConfirm)="onMakeAMeeting()" (byCancel)="closeDialog('copyToMeetingDialog')">
            <h4>{{t("T:MEETING_DIALOG_CREATE_MEETING_FROM_IDEA_TITEL")}}</h4>
            {{t("T:MEETING_DIALOG_CREATE_MEETING_FROM_IDEA_DESCRIPTION")}}
          </evendemy-confirm-dialog-content>
        </evendemy-dialog>

        <evendemy-dialog id="image-upload">
          <evendemy-image-upload-dialog-content (byConfirm)="getImageDataFromDialog($event)" (byClose)="closeDialog('image-upload')" (byCancel)="closeDialog('image-upload')"></evendemy-image-upload-dialog-content>
        </evendemy-dialog>

      </div>
      <div class="attend-info" *ngIf="!isNew">
        <div class="not-attending" *ngIf="getStatus() === 'NOT_ATTENDING'">
          <i class="fa fa-question fa-lg"></i>
        </div>
        <div class="attending" *ngIf="getStatus() === 'ATTENDING'">
          <evendemy-user-image [username]="authService.getLoggedInUsername()" width="100" height="100"></evendemy-user-image>
        </div>
        <button class="btn btn-info" (click)="onAcceptMeeting(null)" *ngIf="getStatus() === 'NOT_ATTENDING'">
          {{t("T:I_WANT_TO_PARTICIPATE")}}
        </button>

        <button class="btn btn-danger" (click)="onRejectMeeting()" *ngIf="getStatus() === 'ATTENDING'">
          {{t("T:I_CANNOT_ATTEND")}}
        </button>
        <button class="btn btn-info" (click)="onGetCalendar()" [disabled]="!hasValidDateAndTime()" *ngIf="getStatus() === 'ATTENDING'">
          <i class="fa fa-calendar fa-lg"></i> {{t("T:CALENDAR")}}
        </button>
      </div>
    </div>
  </div>
</div>