@import './../../../variables';

.comment-message{
  position: relative;
  width: 100%;
}
.comment-message-body{
  white-space: pre-wrap;
  background-color:#dadada;
  width: 100%;
  padding: 10px;
  margin-left: 13px;
}

.comment-message-arrow {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 7px solid #dadada;
  top: 0px;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.comment-header{
  text-align: center;
  flex-basis: 100px;
}

.comment-row{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.commentbox{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
}

.meeting-card {
  padding: 10px 25% 10px 25%;
}

@media(max-width: 768px){
  .meeting-card{
    padding: 10px;
  }
}

.meeting-image > img {
  width: 100%;
}

.meeting-image-button{
  margin-top: -80px;
}

.meeting-csv-link{
  margin-top: 30px;
  padding-right: 0px;
  text-align: right;
}

.meeting-header-label{
  padding-left: 0px;
}

.meeting-info-box{
  background-color: #dddddd;
  border-radius: 5px;
  padding: 10px;

  .meeting-info-box-buttons{
    float: right;
    padding-top: 10px;
  }
}

.meeting-participants-info{
  text-align: center;
  padding-top: 10px;
  color: grey;
}

.meeting-tag{
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: $evendemy-primary;
  color: $evendemy-primary;
  padding: 0px 10px 0px 10px;
}

.meeting-checkbox{
  margin-left: 15px;
}

.alert{
  margin-top: 5px;
  margin-bottom: 5px;
}
