@import './../../../variables';

h6 {
  font-weight: 600;
  margin: 0 0 1rem;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;

  .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    evendemy-breadcrump {
      margin: 1rem 0;
    }

    .content {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: flex-start;

      .meeting {
        width: 40rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 5px;

        h4 {
          margin: 0 0 0.5rem 0;
        }

        .meeting-image {
          position: relative;

          img {
            width: 100%;
            border-radius: 5px 5px 0 0;
          }

          .meeting-image-button {
            position: absolute;
            right: 10px;
            bottom: 10px;
          }
        }

        .section-context-menu {
          position: relative;
          text-align:right;
          margin: 1rem 2rem !important;

          evendemy-context-menu {
            position: absolute;
            top: 15px;
            right: 0;

            p {
              padding: 0.5rem 2rem;
              margin: 0;
              cursor: pointer;

              &:hover {
                background-color: hsl(0, 0%, 93%);
              }
            }
          }
        }

        .section-edit-bar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem;
          border-top: 1px solid white;
          border-bottom: 1px solid #d9d9d9;
          margin-bottom: 1rem;

          .message {
            color: #ff4000;
            
            fa-icon {
              margin-right: 1rem;
            }
          }

          .right {
            display: flex;
            flex-direction: row-reverse;
            gap: 1rem;
          }
        }

        .section {
          margin: 0 2rem 2rem;

          &.section-header {

            &.not-editable {
              margin-top: 2rem;
            }

            .title {
              font-size: 2rem; 
              width: 100%; 
              font-weight: 600;
            }

            .subtitle {
              font-size: 1.5rem; 
              width: 100%
            }

            .place {
              display: flex;
              align-items: center;
              gap: 1rem;
              margin-top: 2rem;
              margin-left: 0.5rem;

              fa-icon {
                margin-right: 2px;
              }

              evendemy-editable-text {
                width: 20rem;

                input {
                  width: inherit;
                }
              }
            }

            .time {
              margin-top: 0.5rem;
              display: flex;
              gap: 1rem;
              align-items: center;
              margin-left: 0.5rem;

              .date{
                width: 6rem;
              }

              .start-time,
              .end-time {
                width: 3rem;
              }
            }
          }

          &.section-description {
            min-height: 8rem;

            h4 {
              margin-left: 0.5rem;
            }
          }

          &.section-more {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-left: 2.5rem;

            h6 {
              margin-bottom: 0;
            }

            .more-field {
              display: flex;
              gap: 1rem;
              align-items: center;

              &>div:first-of-type {
                width: 10rem;
                min-width: 10rem;
              }

              &div:not(:first-of-type) {
                flex-grow: 1;
              }

              .selectBox {
                width: 100%;
                padding: 0.4rem 0.4rem 0.4rem 0.2rem;
              }

              .not-editbale-field {
                padding: 0.4rem;
              }

              evendemy-editable-text {
                width: 100%;
              }
            }
          }

          &.section-attendee-list {
            border-top: 1px solid #ebebeb;
            padding-top: 1rem;

            .attendee-list-header {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .attendee-actions {
                display: flex;
                gap: 0.5rem;

                & > * {
                  cursor: pointer;
                }
              }
            }

            .attendee-cards {
              display: flex; 
              flex-wrap: wrap;

              evendemy-attendee-card {
                border: 1px solid #d2d2d2;
                border-radius: 5px;
              }
            }
          }

          &.section-comments {
            border-top: 1px solid #ebebeb;
            padding-top: 1rem;
          }
        }
      }

      .attend-info {
        background-color: white;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem;
        gap: 1rem;    
        position: sticky;
        top: 5px;
        border-radius: 5px;

        .not-attending {
          width: 100px;
          height: 100px;
          border: 3px dashed hsl(0, 0%, 73%);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            color: hsl(0, 0%, 73%);
          }
        }

        button {
          width: 100%;
        }
      }
    }
  }


}

.meeting-description-not-editable {
  padding: 0px;
  margin-bottom: 20px;
}

.meeting-participants-info {
  text-align: center;
  padding-top: 10px;
  color: grey;
}

.meeting-tag {
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: $evendemy-primary;
  color: $evendemy-primary;
  padding: 0px 10px 0px 10px;
}

.meeting-checkbox {
  margin-left: 15px;
}

@import '~pretty-checkbox/src/scss/variables';
@import './../../../variables';

$pretty--colors: (
  primary: $evendemy-primary,
);

@import '~pretty-checkbox/src/pretty-checkbox.scss';

@import './../../override-tags-styling';

@media screen and (max-width:900px) {
  .page .main .content {
    .meeting {
      width: 100%;
    }

    .attend-info {
      display: none;
    }
  }
  
}
