<app-menu></app-menu>
<div class="component-content">
  <!-- filter bar -->
  <div class="tool-bar row">
    <div class="filter-label">
        Show:
    </div>
    <div class="filter-checkbox">
        <input type="checkbox" name="not announced"  [(ngModel)]="showNotAnnounced" (change)="onCheckboxClick()"> not Announced
    </div>
    <div class="filter-checkbox">
        <input type="checkbox" name="old"  [(ngModel)]="showOld" (change)="onCheckboxClick()"> old
    </div>
    <div class="filter-checkbox">
        <input type="checkbox" name="new"  [(ngModel)]="showNew" (change)="onCheckboxClick()"> new
    </div>
  </div>

  <!-- meetings -->
  <div class="meeting-list">
    <div class="thumbnail" *ngFor="let meeting of meetings | async">
      <div class="caption text-center thumbnail-container">
        <!-- picture -->
        <div class="meeting-image">
            <img [src]="getImage(meeting.mid)" onError="this.src='assets/no-image.png'"/>
        </div>

        <!-- title -->
        <h3 class="meeting-title">{{meeting.title}}</h3>
        <p class="meeting-shortdescription">{{meeting.shortDescription}}</p>

        <!-- time info -->
        <div style="margin-bottom:20px;">
          <i class="fa fa-calendar" aria-hidden="true" style="padding-right: 5px;"></i>
          <div style="display: inline-block;" *ngIf="meeting.date">
            <div *ngIf="!(meeting.startTime && meeting.endTime)" style="display:inline;">{{meeting.date | date:'dd.MM.yyyy'}}</div>
            <div *ngIf="meeting.startTime && meeting.endTime" style="display:inline;">{{meeting.date | date:'dd.MM.yyyy'}}, {{meeting.startTime}}-{{meeting.endTime}}</div>
          </div>
          <div class="will-be-announced-label" *ngIf="!meeting.date">will be announced</div>
        </div>

        <!-- more-button -->
        <button type="button" class="btn btn-default meeting-more-button" routerLink="/meeting/{{meeting.mid}}">more</button>
      </div>
  </div>
  </div>
</div>
