.thumbnail{
  margin: 5px;
  width: 230px;
  height: 320px;
}

.thumbnail-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.link-as-button{
  color: black;
  opacity: 0.2;
}

.link-as-button:hover{
  opacity: 0.5;
}

.meeting-list{
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  -webkit-flex-direction: row; /* Safari */
  flex-direction: row;
}

.meeting-image{
  height: 150px;
  overflow: hidden;
}

.meeting-image > img{
  width: 200px;
}

.meeting-shortdescription{
  width: 200px;
  height: 35px;
  margin-top: 10px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.meeting-title{
  margin-top: 5px;
}

.meeting-more-button{
  margin-top: auto;
}

.will-be-announced-label{
  display: inline-block;
}

.filter-checkbox{
  padding-top: 5px; padding-right: 5px;
}

.filter-checkbox > input{
  vertical-align: bottom;
  width: 16px;
  height: 16px;
}

.filter-label{
  padding-top: 5px; padding-right: 5px;
  vertical-align: bottom;
}
