<app-menu></app-menu>
<div class="component-content">
  <div class="tool-bar row">
    <!-- <button class="btn btn-info" routerLink="/new-meeting/{{type}}">Create</button> -->
    <div style="padding-top: 5px; padding-right: 5px;">
        Show:
    </div>
    <div style="padding-top: 5px; padding-right: 5px;">
        <input type="checkbox" name="not announced"  [(ngModel)]="showNotAnnounced" (change)="onCheckboxClick()"> not Announced
    </div>
    <div style="padding-top: 5px; padding-right: 5px;">
        <input type="checkbox" name="old"  [(ngModel)]="showOld" (change)="onCheckboxClick()"> old
    </div>
    <div style="padding-top: 5px; padding-right: 5px;">
        <input type="checkbox" name="new"  [(ngModel)]="showNew" (change)="onCheckboxClick()"> new
    </div>
  </div>

  <div class="" style="
  display: -webkit-flex; /* Safari */
  display: flex;
 -webkit-flex-wrap: wrap; /* Safari */
 flex-wrap: wrap;
 -webkit-flex-direction: row; /* Safari */
 flex-direction: row;">
   <div class="" *ngFor="let meeting of meetings | async" style="width:20%; padding: 5px;">
    <div class="thumbnail">
      <div class="caption text-center">
        <div style="height: 150px; overflow: hidden;">
            <img [src]="getImage(meeting.mid)" onError="this.src='assets/no-image.png'" style="width: 100%"/>
        </div>
        <h3>{{meeting.title}}</h3>
        <p style="margin-top: 10px;">{{meeting.shortDescription}}</p>
        <div style="margin-top: 20px;">
          <i class="fa fa-calendar" aria-hidden="true" style="padding-right: 5px;"></i>
          <div style="display: inline-block;" *ngIf="meeting.date">
            <div *ngIf="!(meeting.startTime && meeting.endTime)" style="display:inline;">{{meeting.date | date:'dd.MM.yyyy'}}</div>
            <div *ngIf="meeting.startTime && meeting.endTime" style="display:inline;">{{meeting.date | date:'dd.MM.yyyy'}}, {{meeting.startTime}}-{{meeting.endTime}}</div>
          </div>
          <div style="display: inline-block;" *ngIf="!meeting.date">will be announced</div>
        </div>
        <button type="button" class="btn btn-default" routerLink="/meeting/{{meeting.mid}}" style="margin-top: 20px;">more</button>
      </div>
    </div>
  </div>
  </div>
</div>
