<evendemy-menu></evendemy-menu>
<div class="event-or-course">
  <!-- filter bar -->
  <div class="tool-bar">
    <div>
      <div class="filter-label">
            Meetings:
      </div>
      <evendemy-checkbox [label]="'not announced'" (checkboxChanged)="onShowNotAnnounced($event)" [value]="showNotAnnounced"></evendemy-checkbox>
      <evendemy-checkbox [label]="'old'" (checkboxChanged)="onShowOld($event)" [value]="showOld"></evendemy-checkbox>
      <evendemy-checkbox [label]="'new'" (checkboxChanged)="onShowNew($event)" [value]="showNew"></evendemy-checkbox>
      <tag-input [(ngModel)]="selectedTags" name="tag" [modelAsStrings]="true"
        [onlyFromAutocomplete]="true"
        [placeholder]="'+tags'"
        [secondaryPlaceholder]="'tags to be shown'"
        [maxItems]="5" (onAdd)="onTagsChanged()" (onRemove)="onTagsChanged()"
        class="tag-input">
        <tag-input-dropdown [autocompleteItems]="allTags" [showDropdownIfEmpty]="true">
        </tag-input-dropdown>
      </tag-input>
    </div>
  </div>

  <!-- meetings -->
  <div  class="event-or-course-meetings">
    <div class="loading-label" *ngIf="loading">loading...</div>
    <evendemy-meeting-list [meetings]="meetings" [attendedMeetingInformation]="attendedMeetings"></evendemy-meeting-list>
  </div>

</div>
