<evendemy-menu></evendemy-menu>
<div class="event-or-course">
  <!-- filter bar -->
  <div class="tool-bar">
    <div class="filter-label hidden-xs">
        Meetings:
    </div>
    <evendemy-checkbox [label]="'not announced'" (checkboxChanged)="onShowNotAnnounced($event)" [value]="showNotAnnounced"></evendemy-checkbox>
    <evendemy-checkbox [label]="'old'" (checkboxChanged)="onShowOld($event)" [value]="showOld"></evendemy-checkbox>
    <evendemy-checkbox [label]="'new'" (checkboxChanged)="onShowNew($event)" [value]="showNew"></evendemy-checkbox>

  </div>

  <!-- meetings -->
  <div  class="event-or-course-meetings">
    <evendemy-meeting-list [meetings]="meetings"></evendemy-meeting-list>
  </div>

</div>
