<app-menu></app-menu>
<div class="event-or-course">
  <!-- filter bar -->
  <div class="tool-bar">
    <div class="filter-label">
        Meetings:
    </div>
    <app-evendemy-checkbox [label]="'not announced'" (onCheckboxChange)="onShowNotAnnounced($event)" [value]="showNotAnnounced"></app-evendemy-checkbox>
    <app-evendemy-checkbox [label]="'old'" (onCheckboxChange)="onShowOld($event)" [value]="showOld"></app-evendemy-checkbox>
    <app-evendemy-checkbox [label]="'new'" (onCheckboxChange)="onShowNew($event)" [value]="showNew"></app-evendemy-checkbox>

  </div>

  <!-- meetings -->
  <div  class="event-or-course-meetings">
    <app-meeting-list [meetings]="meetings"></app-meeting-list>
  </div>

</div>
