.event-or-course-meetings{
    padding: 15px;
}
.filter-label{
    padding-right: 15px;
    padding-left: 10px;
    display: inline;
}


.tool-bar{
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  justify-content: flex-end;
  align-items: center;
  
  .tag-input{
    display: inline-block;
    padding-left: 10px;

    &::ng-deep > .ng2-tag-input > .ng2-tags-container > tag-input-form {
      height: 1rem;
    }
  }

  .tool-bar-select{
    padding: 5px;
    border-radius: 2px;
    margin-right: 5px;
    border: 0px;
    font-size: 0.8rem;
  }
}


.loading-label{
  text-align: center;
  padding: 200px 0px 200px 0px;
  color: #6B6B6B;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif!important;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    evendemy-meeting-card {
        transition: all .2s ease-in-out;
        
        &:hover {
            scale: 1.05;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }

    .create-card {
        width: 272px;
        height: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px dashed #b9b9b9;
        color: grey;
        cursor: pointer;

        .plus {
          font-size: 3rem; margin: 0;
        }

        &:hover {
            background-color: rgb(246, 246, 246);
        }
    }
}