<div class="event-or-course" *transloco="let t">
    <!-- filter bar -->
    <div class="tool-bar">
      <div>
        {{t("T:MEETING_TYPE")}}:
        <select [(ngModel)]="type" class="tool-bar-select" (click)="onToolbarChange()">
              <option value="all">{{t("T:ALL")}}</option>
              <option value="event">{{t("T:EVENT")}}</option>
              <option value="course">{{t("T:COURSE")}}</option>
        </select>
      </div>
      <div>
        {{t("T:DATE")}}:
        <select [(ngModel)]="date" class="tool-bar-select" (click)="onToolbarChange()">
              <option value="all">{{t("T:ALL")}}</option>
              <option value="old">{{t("T:OLD")}}</option>
              <option value="new">{{t("T:NEW")}}</option>
        </select>
      </div>
      <div>
        Tags:
        <tag-input [(ngModel)]="selectedTags" name="tag" [modelAsStrings]="true"
          [onlyFromAutocomplete]="true"
          [placeholder]="'+tags'"
          [secondaryPlaceholder]="'tags to be shown'"
          [maxItems]="5" (onAdd)="onToolbarChange()" (onRemove)="onToolbarChange()"
          class="tag-input">
          <tag-input-dropdown [autocompleteItems]="allTags" [showDropdownIfEmpty]="true">
          </tag-input-dropdown>
        </tag-input>
      </div>
    </div>
  
    <!-- meetings -->
    <div  class="event-or-course-meetings">
      <div class="loading-label" *ngIf="loading">loading...</div>
        <div class="list" *ngIf="!loading">
            <div class="create-card" [routerLink]="isIdea? '/idea': '/meeting'">
                <p class="plus">+</p>
                <p>{{isIdea ? t('T:CREAT_A_NEW_IDEA') : t('T:CREAT_A_NEW_MEETING')}}</p>
                <button class="btn">{{t('T:CREATE')}}</button>
            </div>
            <ng-container *ngFor="let meeting of meetings">
                <evendemy-meeting-card [meeting]="meeting" [routerLink]="(isIdea? '/idea/' : '/meeting/')+meeting.mid"></evendemy-meeting-card>
            </ng-container>
        </div>

    </div>
  
  </div>