<form style="padding-top: 50px;">
  <div class="row" style="margin-top: 50px;">
    <div class="evendemy-title">Evendemy</div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div style="text-align: center; font-size: 20px;">
      Please log in to proceed...
    </div>
  </div>
  <div class="row" style="margin-top: 50px; padding: 20px;">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="row" style="margin-bottom: 15px;">
          <p class="col-md-3">Username</p>
          <div class="col-md-9">
            <input class="form-control" #username />
          </div>
      </div>
      <div class="row" style="margin-bottom: 15px;">
          <p class="col-md-3">Password</p>
          <div class="col-md-9">
            <input class="form-control" #password type="password" />
          </div>
      </div>
      <div class="row" *ngIf="invalidLogin">
          <div class="evendemy-invalid-info">
              Your username or password is invalid! Please try again.
          </div>
      </div>
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12">
            <button type="submit" class="btn btn-info evendemy-login-button" (click)="login(username.value,password.value)">Login</button>
        </div>
      </div>
    </div>
  </div>
</form>
