@import './../../../variables';

.background {
    background-color: $evendemy-primary;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .block {
        background-color: white;
        max-width: 20rem;
        border-radius: 5px;
        padding: 2rem;
        margin: 2rem auto;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .logo {
                text-align: center;
    
                img {
                    width: 6rem;
                }
        
                .title{
                    text-align: center; font-size: 2.5rem;
                    color: $evendemy-primary;
                }
            }
    
            .label-with-input {
                display: flex;
                flex-direction: column;

                p {
                    margin: 0;
                    padding-bottom: 0.2rem;
                }
    
                input {
                    border: 1px solid #a6a6a6;
                    border-radius: 2px;
                    padding: 5px;
                }
    
            }

            .btn {
                margin-top: 1rem;
                width: 100%;
            }
        }
    }
}


@media(max-width: 500px){
    .title{
        font-size: 4em;
    }

    .background > .block {
        margin: 3rem 2rem;
    }
}

.error{
    padding: 10px;
    background-color: #ffe893;
    color: #938656;
}
