<div class="background">
  <div class="block">
    <form>
      <div class="logo">
        <img src="./assets/evendemy_logo.png"/>
        <div class="title">Evendemy</div>
      </div>
      <div class="label-with-input">
          <p>Username</p>
          <input #username />
      </div>
      <div class="label-with-input">
          <p>Password</p>
          <input #password type="password" />
      </div>
      <div class="error" *ngIf="invalidLogin">
          Your username or password is invalid! Please try again.
      </div>
      <button type="submit" class="btn btn-info evendemy-login-button" (click)="login(username.value,password.value)">Login</button>
    </form>
  </div>
</div>
