<div class="background">
  <div class="block" *transloco="let t">
    <form>
      <div class="logo">
        <img src="./assets/evendemy_logo.png"/>
        <div class="title">Evendemy</div>
      </div>
      <div class="label-with-input">
          <p>{{t("T:USERNAME")}}</p>
          <input #username />
      </div>
      <div class="label-with-input">
          <p>{{t("T:PASSWORD")}}</p>
          <input #password type="password" />
      </div>
      <div class="error" *ngIf="invalidLogin">
          {{t("T:WRONG_USERNAME_OR_PASSWORD")}}
      </div>
      <button type="submit" class="btn btn-info evendemy-login-button" (click)="login(username.value,password.value)">{{t("T:LOGIN")}}</button>
    </form>
  </div>
</div>
