evendemy-sidebar {
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sidebar-background {
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    z-index: 99;
    opacity: 0.4;
    background-color: black;
}

#info-dialog {

  .content {
    padding: 2rem 4rem;

    .header {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin: 2rem;

      img {
        width: 8rem;
      }

      p {
        color: #48cfad;
        font-size: 3rem;
        font-weight: 600;
      }
    }

    .usage-notices {
    }

    h2 {
      font-size: 2rem;
    }
  }

}
