<evendemy-sidebar id="sidebar" (byClick)="onMenuClick()"></evendemy-sidebar>
<div class="sidebar-background" *ngIf="showSidebar" (click)="onMenuClick()"></div>
<evendemy-navbar *ngIf="showNavbar" (byMenuClick)="onMenuClick()"></evendemy-navbar>
<router-outlet></router-outlet>
<evendemy-footer></evendemy-footer>

<!--dialogs-->
<evendemy-dialog id="info-dialog" size="medium">
  <div class="content" *transloco="let t">
    <div class="header">
      <img src="assets/evendemy_logo.png">
      <p>Evendemy 3</p>
    </div>
    <h2>{{t("T:INFO")}}</h2>
    <p>{{t("T:VERSION")}}: {{version}}</p>
    <p>{{t("T:GITHUB")}}: <a href="https://github.com/faktorzehn/evendemy"> https://github.com/faktorzehn/evendemy</a></p>
    <h2>{{t("T:USAGE_NOTICE")}}</h2>
    <div class="usage-notices" [innerHTML]="usageNotices"></div>
  </div>
</evendemy-dialog>
