tag-input ::ng-deep {
    .ng2-tags-container {
      align-items: center;
    }
  
    tag ::ng-deep{
      height: unset;
      line-height: unset;
  
      .tag-wrapper {
        align-items: center;
        height: 22px;
    
      }
    }
  
    delete-icon ::ng-deep {
      height: unset;
      line-height: unset;
    }

    tag-input-form ::ng-deep {
        form > input {
            height: 30px !important;
        }
    }
  
    delete-icon:hover {
      transform: none;
    }
  }