<table>
  <tr>
    <th>Name</th>
    <th>External</th>
    <th>State</th>
    <th>Date of Registration</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let row of attendees;">
    <td>{{getUser(row.username) | name}}</td>
    <td>{{row.externals}}</td>
    <td>
      <div *ngIf="row.tookPart">
        <span class="meeting-tag">confirmed</span>
      </div>
      <div *ngIf="!row.tookPart">
        takes part
      </div>
    </td>
    <td>{{row.dateOfRegistration | date:'dd.MM.yyyy'}}</td>
    <td>
        <button class="btn btn-info" (click)="onClickTakeParteButton(row)" [disabled]="disableTakePartButton" *ngIf="!row.tookPart">
          <span class="glyphicon glyphicon-ok" aria-hidden="true" style="padding-right: 5px;"></span>
          has taken part
        </button>
    </td>
  </tr>
</table>
