@import './../../../variables';

table {
  width: 100%;

  th{
    padding: 5px 0;
  }

  td{
    padding: 5px 0;
  }
}

table tr:nth-child(even) td{
  background-color: $evendemy-background-alternate;
}

