.dropdown-toggle{
  padding: 10px;
}

.navbar-plus-button{
    float: right;
    margin: 8px;
    border-radius: 90px;
}

.menu-user{
  display: inline;
}

.menu-user-image{
  width: 30px;
  margin-left: 10px;
}

.navbar-nav>li{
  cursor:pointer;
}
