<div class="comments">
  <div class="list">
    <div class="comment" *ngFor="let comment of comments">
      <a class="user" routerLink="/user-info/{{comment.author}}">
        <evendemy-user-image [username]="comment.author" width="50" height="50"></evendemy-user-image>
        <div class="name">{{getUser(comment.author) | name}}</div>
      </a>
      <div class="message">
        <div class="body">
          {{comment.text}}
        </div>
        <div class="date">{{comment.creationDate | date:'HH:mm dd.MM.yyyy'}}</div>
      </div>
    </div>
  </div>
  <div class="edit">
    <textarea [(ngModel)]="commentbox" name="commentbox"></textarea>
    <div class="button-container">
      <button class="btn btn-info" (click)="onAddComment()">Add Comment</button>
    </div>
  </div>
</div>