<div class="card" *transloco="let t">
    <div class="image-container">
        <img [src]="getImage(meeting.mid) | protectedImage | async"/>
        <div class="new-tag" *ngIf="isMeetingNew(meeting)">Neu</div>
    </div>
    <div class="info-container">
        <div class="date" *ngIf="meeting.startTime">
            <div class="day">
                {{meeting.startTime | date : 'dd'}}
            </div>
            <div class="month">
                {{t('T:MONTH_'+ (meeting.startTime | date : 'M'))}}
            </div>
            <div class="time">
                {{meeting.startTime | date : 'HH:mm'}} - {{meeting.endTime | date : 'HH:mm'}}
            </div>
        </div>
        <div class="info">
            <p class="title">{{meeting.title}}</p>
            <p class="short-description">{{meeting.shortDescription}}</p>
            <!-- TODO: Feature will be implemented in the future-->
            <!-- <div class="place">Wien</div> -->
            <div class="place">{{meeting.location}}</div>
        </div>
    </div>
    
    <div class="number-of-attendees">
        2 {{t("T:ATTENDEES")}}
    </div>
</div>