.info-box{
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  border-radius: 5px;
  padding: 10px;

  .info-box-buttons{
    text-align: right;

    > .btn {
      margin-right: 5px;
    }
  }
}

.attendee-status{
  margin-top: 20px;
}
