:host {
    display: inline-block;
    width:100%;
}

.text {
    padding: 0.4rem;
    border-radius: 2px;
    min-height: 1rem;
    
    &.editable:hover {
        outline: 1px solid hsl(0, 0%, 78%);
    }

    &.invalid {
        outline: 1px solid #ff4000 !important;
    }
}

.placeholder {
    color: #aaaaaa;
}

.editable-input {
    &.invalid {
        outline: 1px solid #ff4000 !important;
    }
}