.user-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  padding: 15px;

  evendemy-user-card {
    transition: all .2s ease-in-out;

    &:hover {
      scale: 1.05;
    }
  }
}
