@import "./../../../variables";

.thumbnail{
    margin: 5px;
    width: 260px;
    height: 360px;
}

.evendemy-badge{
  position: absolute;
  right: 2px;
}

.meeting-image {
  position: relative;
}

.meeting-image > img{
  width: 230px;
  height: 150px;
}

.meeting-list{
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  -webkit-flex-direction: row; /* Safari */
  flex-direction: row;
}

@media(max-width:500px){
  .meeting-list{
    justify-content: center;
  }
}

.thumbnail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.meeting-shortdescription{
  width: 230px;
  height: 35px;
  margin-top: 5px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.no-meeting-shortdescription{
  @extend .meeting-shortdescription;
  color: $evendemy-background-alternate;
}


.meeting-title{
  padding-top: 15px;
  padding-bottom: 2px;
  width: 230px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.meeting-date{
  margin-bottom: 10px;
}

.meeting-tags{
  width: 230px;
  height: 22px;
  margin-bottom: 2px;
  overflow: hidden;
}

.no-meeting-tags{
  @extend .meeting-tags;
  color: $evendemy-background-alternate;
}

.meeting-more-button{
  margin-top: auto;
}

.will-be-announced-label{
  display: inline-block;
}
